*{
    margin: 0;
    padding: 0;
  }

.header{
    width:100%;
    position: relative;
    
  }

  .navbar{
    display: flex;
    padding: 20px;
    justify-content: right;
    background-color:#021b02e5;
    height:50px;
    padding-bottom: 2%;
  }

  .header-text{
    list-style: none;
    display: inline-block;
    padding: 20px;
    padding-left:40px;
    position: relative;
    text-align: center;
    
  }  


  .navbar a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Copperplate Gothic Light';
  
  }

  .navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .navbar a:hover::after{
    width: 100%;
  }

  main{
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    
  }

  .main-text{
    text-align: center;
    margin-top: 25px;
    position: absolute;

  }
  .main-h1{
    font-family: 'Copperplate Gothic Light';
    font-size: 38px;
  }
  .main-p{
    font-family: 'Footlight MT Light';
    font-size: 20px;
    
  }

.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 11%;
  
  
}

.container .card{
  width: 350px;
  height: 320px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--bg-color);
  border: 1px solid #f0eded;
  box-shadow: 5px 5px 5px 5px rgba(12, 8, 8, 0.2);
  margin-bottom: 5%;
  background-color: white;
  

}

.container .card .img-box{
  position: relative;
  width: 260px;
  height: 280px;
  top:-50px;
  left: 20px;
}

.card-img{
  border-radius: 10px;
  width: 120%;
  height: 100%;
  
  
}

.container-h{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Copperplate Gothic Light';
  text-align: center;
  margin-top:10%;
  margin-left: 30px;
}


.footer{
    height: 250px;
    background-color: #231709;
    width: 100%;
    
  }
  .footer1{
    text-align: center;
    color: white;
    font-family: 'Copperplate Gothic Light';
    
  }
  .footer-h{
    font-size: 18px;
    padding-top: 30px;
  }
  
  .footer-p{
    font-size: 15px;
    padding-top: 20px;
  }
  
  .footer-p2{
    color: white;
    font-size: 13px;
  }
  
  .socials{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
   
    
  }
  .socials img{
    width: 30px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(247, 237, 237, 0.1);
    background-color: transparent;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #021b02e5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(241, 238, 228, 0.932);
    background-image: -webkit-gradient(linear,
                    40% 0%,
                     75% 84%,
              from(rgba(236, 235, 224, 0.226)),
              to(rgba(230, 227, 213, 0.226)),
              color-stop(.8, rgba(243, 240, 226, 0.226)))
  }
  
  
  
  
  
  
  
  